# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
/plugins/
hooks/
www/build
.sass-cache/
www/lib
e2e/build
UIAdaptation_index.html
changes_preview.js
visual_ext_index.html
/webapp/visual_ext_index.html
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html